@import "tailwindcss";
/* @import url('/Font/BebasNeue-Regular.ttf'); */


@font-face {
    font-family: "Bebas Neue";
    src: url("/Font/BebasNeue-Regular.ttf") format("truetype");
}

@theme {
    --color-main: #7afc16;
    --color-primary: #232b2b;
     --font-bebas-neue: "Bebas Neue", sans-serif;
    --font-serif: "DM Serif Text", serif; 
}

html, body {
  overflow-x: hidden !important;
  background-color: #030303;
}

@utility background-gradient{
@apply bg-radial from-green-900 from-0% to-slate-900
}

.masked-img {
    mask-image: url("https://static.vecteezy.com/system/resources/previews/058/051/800/large_2x/bodybuilder-with-bulging-muscles-flexing-for-show-cut-out-transparent-png.png");
    mask-repeat: no-repeat;
    mask-position: 20% 20%;
    mask-size: 50%;
}

@utility radial-gradient {
    background: radial-gradient(
            circle at center,
            #434343 0%,
            #000 50%,
            transparent 100%
    );
}
